{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1>Регистрация</h1>
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label() }}
                {{ form.username(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </form>
        <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p>
    </div>
{% endblock %}